@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  background-color: #f4efea;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f4efea;
}

::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444;
}
